#stream-header { width: 100%; text-align: left; padding-top: 50px; margin: 10px; color: white; }
#create-btn { margin-left: auto; margin-right: auto; }
.material-textfield {
    padding: 10px;
    position: relative;
}

label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2b2b2b;
  color: white;
  padding: 0 0.3rem;
  margin: 0 1.5rem;
  transition: .1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  border-radius: 5px;
}
input {
  background-color: #2b2b2b;
  font-size: 1rem;
  outline: none;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: white;
  transition: 0.1s ease-out;
  min-width: 25vw;
}
input:focus {
  border-color: #2b2b2b;
}
input:focus + label {
  color: white;
  top: 20%;
  transform: translateY(-50%) scale(.9);
}
input:not(:placeholder-shown) + label {
  top: 20%;
  transform: translateY(-50%) scale(.9);
}